.card {
    padding: 1% 7%;
    color: #646771;
    background-color: #d6d8da;
    margin-top: 28vh;
}
.policy>div {
    padding: 2px
}
.divider {
    border-top: -10vh solid rgba(189, 196, 203, 0.5);
    
}
