<div id="elemento_fondo" >
    <footer id="footer" class="container-fluid mt-6">
      <div class="card mx-13">
  
          <div class="divider mb-1"> </div>
          <div class="row" >
              <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="pull-left">
                      <p><i class="fa fa-copyright"></i> TNV Academy - Group 2</p>
                  </div>
              </div>
  
              <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="pull-right mr-6 d-flex policy">
                      <div>Terms of Use</div>
                      <div>Privacy Policy</div>
                      <div>Cookie Policy</div>
                  </div>
              </div>
          </div>
      </div>
    </footer>
  </div>
