<div class="sfondo">
    
    <div classe="spacer"></div>

<form #movieForm="ngForm" (submit)="createComment(movieForm)">
  
<input
        [ngModel]
        name="user_id"
        placeholder="user_id"
        type="text" 
    >
    <br>

    <input
        [ngModel]
        name="movie_id"
        placeholder="movie_id"

        type="text" 
    >
    <br>
    
    <textarea  
     [ngModel]
        name="movie_comment"
        placeholder="comment"
        rows="5"
        cols="40" 
        maxlength="160"
         type="text"
    ></textarea>
    >
    <br>
    <button type="submit">Send Comment</button>

    <h1>Comment List</h1>


  </form>

</div>