<div class="sfondo">
    
    <div classe="spacer"></div>

<form #movieForm="ngForm" (submit)="createComment(movieForm)">
  
<input
        [ngModel]
        name="user_id"
        placeholder="user_id"
        type="text" 
    >
    <br>

    <input
        [ngModel]
        name="movie_id"
        placeholder="movie_id"

        type="text" 
    >
    <br>
    <input  
     [ngModel]
        name="movie_comment"
        placeholder="comment"
         type="text" 
    >
    <br>
    <button type="submit">Create Comments</button>

    <h1>Comment List</h1>


  </form>

</div>
