<div class="sfondo">
    
    <div classe="spacer"></div>

<form #commentForm="ngForm" (submit)="createComment(commentForm)">
  
<input
        [ngModel]
        name="movieId"
        placeholder="user_id"
        type="number" 
    >
    <br>

    <input
        [ngModel]
        name="userId"
        placeholder="movie_id"

        type="number" 
    >
    <br>
    
    <textarea  
     [ngModel]
        name="comment"
        placeholder="comment"
        rows="5"
        cols="40" 
        maxlength="160"
         type="text"
    ></textarea>
    >
    <br>
    <button type="submit">Send Comment</button>

    <h1>Comment List</h1>
  </form>
  <p class="lead">
    <button type="button" class="btn btn-outline-dark" (click)="goBack()" role="button">Back</button>
</p>
</div>
  