* {
   
    margin-top:absolute;
    padding: 100;
    align-content: center;
  }

.form{
  border-color: coral;
}


.button{
  color: springgreen;
}

.ngmodel{
  color: rgb(194, 125, 34);
}

.h3{
  color: chocolate;
}
