<body>
   
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>


<form #rating="ngForm" (submit)="createRating(rating)">
  <p> <input
      
      [ngModel]
      name="movie_id"
      placeholder="ID Film"
      type="text" 
  >
</p>

<p>  
  <input
      [ngModel]
      name="user_id"
      placeholder="user id"
      type="text" 
  >
  <br>
</p>
<div class="rating">
   <h3>Rating:</h3>   

  &nbsp;<input 
      [ngModel]
      name="movie_rating"
      id="1"
      type="radio"
      value="1"
  >
  <label for="1">1</label> 

  
  &nbsp;<input 
      [ngModel]
      name="movie_rating"
      id="2"
      type="radio"
      value="2"
  >
  <label for="2">2</label>

  
  &nbsp;<input 
      [ngModel]
      name="movie_rating"
      id="3"
      type="radio"
      value="3"
  >
  <label for="3">3</label>

  
  &nbsp;<input 
      [ngModel]
      name="movie_rating"
      id="4"
      type="radio"
      value="4"
  >
  <label for="4">4</label>

  
  &nbsp;<input 
      [ngModel]
      name="movie_rating"
      id="5"
      type="radio"
      value="5"
  >
  <label for="5">5</label>
</div>
  <button type="submit" class="btn btn-outline-danger">Vota!</button>
  <p class="lead">
    <button type="buttonBack" class="btn btn-outline-dark" (click)="goBack()" role="button">Back</button>
  </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</form>
</body> 
  
