* {
   
    margin-top:absolute;
    padding: 100;
    align-content: center;
  }

.form{
  border-color: coral;
}


.button{
  color: springgreen;
}

.ngmodel{
  color: rgb(194, 125, 34);
}

.h3{
  color: chocolate;
}

body {

background-image: url(https://mondoeconomico.eu/images/lettera_economica/Che_cosa_rivelano_i_rating.jpg);

}

button {
  text-align: center; 
  background-color: yellow; 
  text-decoration: double; 
}

body {
  text-align: center;
  font-size: larger; 
  color: white;  
  font-size: 21px; 
  font-style: normal; 
  text-shadow: black 1px 1px; 
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-size: larger; 
}