
button {
    font-size: larger;
    background-color: black; 
    }

 body {
    background-image: url("https://cdn.wallpapersafari.com/50/58/EWrfl9.jpg");
}

h1 {
    
  color: yellow; 
  text-shadow: black 2px 2px; 
}

lead {
   text-shadow: black 2px 2px; 
} 

p {
    font-size: 150% ; 
    color: yellow; 
    text-shadow: black 2px 2px; 
  } 

  